<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inzone.mall.ordercenter.mapper.CenterOrderPaymentDetailMapper">
  <resultMap id="BaseResultMap" type="com.inzone.mall.ordercenter.entity.CenterOrderPaymentDetail">
    <!--@mbg.generated-->
    <!--@Table order_payment_detail-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pay_id" jdbcType="VARCHAR" property="payId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="pay_type" jdbcType="TINYINT" property="payType" />
    <result column="pay_amount" jdbcType="VARCHAR" property="payAmount" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="parent_order_id" jdbcType="VARCHAR" property="parentOrderId" />
    <result column="yin_dou" jdbcType="VARCHAR" property="yinDou" />
    <result column="man_yi_dou" jdbcType="VARCHAR" property="manYiDou" />
    <result column="fan_li" jdbcType="VARCHAR" property="fanLi" />
    <result column="fee" jdbcType="VARCHAR" property="fee" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, pay_id, order_id, pay_type, pay_amount, gmt_create, gmt_modified, parent_order_id, 
    yin_dou, man_yi_dou, fan_li, fee
  </sql>
</mapper>