<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inzone.mall.ordercenter.mapper.CenterOrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.inzone.mall.ordercenter.entity.CenterOrderInfo">
    <!--@mbg.generated-->
    <!--@Table order_info-->
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="application_id" jdbcType="VARCHAR" property="applicationId" />
    <result column="parent_order_id" jdbcType="VARCHAR" property="parentOrderId" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="delivery_type" jdbcType="TINYINT" property="deliveryType" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="store_code" jdbcType="VARCHAR" property="storeCode" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="total_amount" jdbcType="VARCHAR" property="totalAmount" />
    <result column="pay_amount" jdbcType="VARCHAR" property="payAmount" />
    <result column="user_remark" jdbcType="VARCHAR" property="userRemark" />
    <result column="delete_status" jdbcType="TINYINT" property="deleteStatus" />
    <result column="comment_status" jdbcType="TINYINT" property="commentStatus" />
    <result column="giftamount" jdbcType="VARCHAR" property="giftamount" />
    <result column="consumpoints" jdbcType="VARCHAR" property="consumpoints" />
    <result column="discoupon" jdbcType="VARCHAR" property="discoupon" />
    <result column="discount" jdbcType="VARCHAR" property="discount" />
    <result column="pointscash" jdbcType="VARCHAR" property="pointscash" />
    <result column="cancel_type" jdbcType="VARCHAR" property="cancelType" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="pickupcode" jdbcType="VARCHAR" property="pickupcode" />
    <result column="coupon_id" jdbcType="VARCHAR" property="couponId" />
    <result column="shoppe_id" jdbcType="VARCHAR" property="shoppeId" />
    <result column="term_invoiceno" jdbcType="VARCHAR" property="termInvoiceno" />
    <result column="service_charge" jdbcType="VARCHAR" property="serviceCharge" />
    <result column="z_freight" jdbcType="VARCHAR" property="zFreight" />
    <result column="freight_discount" jdbcType="VARCHAR" property="freightDiscount" />
    <result column="package_fee" jdbcType="VARCHAR" property="packageFee" />
    <result column="lunchboxfee" jdbcType="VARCHAR" property="lunchboxfee" />
    <result column="ext_json" jdbcType="VARCHAR" property="extJson" />
    <result column="write_off_phone" jdbcType="VARCHAR" property="writeOffPhone" />
    <result column="performance_channel" jdbcType="VARCHAR" property="performanceChannel" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="to_erp_time" jdbcType="TIMESTAMP" property="toErpTime" />
    <result column="to_erp_status" jdbcType="VARCHAR" property="toErpStatus" />
    <result column="direct_descent" jdbcType="VARCHAR" property="directDescent" />
    <result column="full_minus" jdbcType="VARCHAR" property="fullMinus" />
    <result column="full_arrival" jdbcType="VARCHAR" property="fullArrival" />
    <result column="full_discount" jdbcType="VARCHAR" property="fullDiscount" />
    <result column="coupon_amount" jdbcType="VARCHAR" property="couponAmount" />
    <result column="if_call_omni_channel" jdbcType="VARCHAR" property="ifCallOmniChannel" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    order_id, gmt_create, channel_id, application_id, parent_order_id, order_type, order_status,
    delivery_type, store_id, store_code, customer_id, cid, phone, total_amount, pay_amount, 
    user_remark, delete_status, comment_status, giftamount, consumpoints, discoupon, 
    discount, pointscash, cancel_type, cancel_reason, pickupcode, coupon_id, shoppe_id, 
    term_invoiceno, service_charge, z_freight, freight_discount, package_fee, lunchboxfee, 
    ext_json, write_off_phone, performance_channel, expire_time, cancel_time, finish_time, 
    gmt_modified, to_erp_time, to_erp_status, direct_descent, full_minus, full_arrival, 
    full_discount, coupon_amount, if_call_omni_channel, order_sn
  </sql>
</mapper>